{{#if viewMy}}
<h3 class="text-center">{{user.username}} projects</h3>
{{else}}
<h3 class="text-center">Projects to Use</h3>
{{/if}}


<table class="table table-sm table-striped w-50 pb-10" align="center" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">


    <thead class="table-info">
        <tr>

            <th>Project Name </th>
            <th>General Instructions</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        {{#each projects}}
        <tr>

            <td> {{name}}</td>
            <td> {{instructions}}</td>
            {{#unless ../viewMy}}
            <td><i class="far fa-check-circle"></i> <a href="/project/{{id}}/projectlog"> Use This Project</a></td>
            {{/unless}}
            {{#if ../viewMy}}
            <td>
                <div class="modal fade" id="exampleModal{{id}}" tabindex="-1" role="document">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title"><b>Tasks for {{name}}</b></h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="taskDetail{{id}}">

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
                <span class="text-muted">
                    <!-- Button trigger modal -->
                    <button type="button" class="modalShow btn btn-primary" data-id={{id}} data-target="#exampleModal{{id}}">
                        View My notes
                    </button>

                </span>

            </td>
            {{/if}}
        </tr>
        {{/each}}
    </tbody>
</table>