<table class="table" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; background-color:sandybrown; color:white; text-align:center;">
  <tr>
    <th>Project Name</th>
    <th>General Instructions</th>
    <th>Actions</th>
  </tr>
  
  {{#each projects}}
  <tr>

    <td>{{name}}</td>
    <td>{{instructions}}</td>
    <td>{{userId}}</td>
    <td><a href='/task/{{id}}'>Add new task {{id}}</a>
      <td> <span class='delbtn' data-id={{id}}> <button type=“button” > Delete Task</button></td></span>
       <td> <span class='updatebtn' data-id={{id}}> <button type=“button” > Update</button></td></span>
  </tr>
  {{/each}}
</table>