<table class="table table-sm table-striped w-50 pb-10 tableHeader " align="center" >
  <thead>
    <tr id="tableRow">
      <th>Project Name</th>
      <th>General Instructions</th>
      <th> </th>
      <th> </th>
      <th> </th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    {{#each projects}}
    <tr>

      <td>{{name}}</td>
      <td>{{instructions}}</td>
      <td>{{userId}}</td>
      <td><a href='/task/{{id}}'>Add new task </a>
      <td> <span class='delbtn' data-id={{id}}> <button type=“button” class="btn btn-primary" > Delete </button></td></span>
      <td> <span class='updatebtn' data-id={{id}}> <button type=“button” class="btn btn-primary" > Update</button></td></span>
    </tr>
    {{/each}}
    
    <tr id="tableRow">
      <td colspan=2><button type="button" id = "addProject" class="btn btn-primary" > Add New Project </button></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
