<table>
  <tr>
    <th>Project Name</th>
    <th>General Instructions</th>
    <th>Actions</th>
  </tr>
  
  {{#each projects}}
  <tr>

    <td>{{name}}</td>
    <td>{{instructions}}</td>
    <td>{{userId}}</td>
    <td><a href='/task/{{id}}''>Add new task {{id}}</a>
      <button type=“button” class=” btn btn-primary” data-id={{id}} id=addTask> Add Task</button></td>

  </tr>
  {{/each}}
</table>